<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <title>PlusOne</title>
</head>

<body class="init-engine">
    <div id="root"></div>

    <!-- Dependencies -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.<%= htmlWebpackPlugin.options.reactMode %>.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.<%= htmlWebpackPlugin.options.reactMode %>.js"></script>

</body>

</html>